@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Inter&family=Kanit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-rgb: 255, 255, 255; /*white*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: rgb(var(--white-rgb));
  background: rgb(var(--white-rgb));
}
